<a href="https://colab.research.google.com/github/R-MAJITHIYA/Python_Practice/blob/main/File_Handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

import pandas as pd
import numpy as np

Mounted at /content/drive

In [10]:
import csv

url = '/content/drive/MyDrive/Colab Notebooks/Python/Pandas/examples/ex7.csv'
f = open(url)

reader = csv.reader(f)  # reader is an iterable object. get data line by line from file.
print(reader)
#print(list(reader))

for line in reader:
  print(line)           # data output as a collection.

<_csv.reader object at 0x7d525939c270>
['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [11]:
with open(url) as f:
  line = list(csv.reader(f))
print(line)
header, values = line[0], line[1:]  # store abc in header and 123,123... in values.

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]

In [12]:
print(header)
print(list(zip(values)))
print(list(zip(*values)))
print(list(zip(header,*values)))  # return tuples

['a', 'b', 'c']
[(['1', '2', '3'],), (['1', '2', '3'],)]
[('1', '1'), ('2', '2'), ('3', '3')]
[('a', '1', '1'), ('b', '2', '2'), ('c', '3', '3')]

In [13]:
data_dict = {h : v for h, v in zip(header, zip(*values))}
print(data_dict)

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [14]:
l1 = [0,1,2,3,4]
l2 = [5,6,7,8,9]
print({a:b for a,b in zip(l1,l2)})

{0: 5, 1: 6, 2: 7, 3: 8, 4: 9}

In [15]:
#JSON   Java Script Object Notation. Heirarchical data set format. Online json viewer available.

obj = """
{
	"id": "0001",
	"type": "donut",
	"name": "Cake",
	"ppu": 0.55,
	"batters":
		{
			"batter":
				[
					{ "id": "1001", "type": "Regular" },
					{ "id": "1002", "type": "Chocolate" },
					{ "id": "1003", "type": "Blueberry" },
					{ "id": "1004", "type": "Devil's Food" }
				]
		},
	"topping":
		[
			{ "id": "5001", "type": "None" },
			{ "id": "5002", "type": "Glazed" },
			{ "id": "5005", "type": "Sugar" },
			{ "id": "5007", "type": "Powdered Sugar" },
			{ "id": "5006", "type": "Chocolate with Sprinkles" },
			{ "id": "5003", "type": "Chocolate" },
			{ "id": "5004", "type": "Maple" }
		]
}
"""
import json

print(type(obj))
#print(obj)  give correct data in format
result = json.loads(obj)
#print(result)   give correct data in one line format
print(type(result))   #  string converted to dictionary if data is in json format.
print(result)
to_str = json.dumps(result)   # conver json object to string data
print(type(to_str))

<class 'str'>
<class 'dict'>
{'id': '0001', 'type': 'donut', 'name': 'Cake', 'ppu': 0.55, 'batters': {'batter': [{'id': '1001', 'type': 'Regular'}, {'id': '1002', 'type': 'Chocolate'}, {'id': '1003', 'type': 'Blueberry'}, {'id': '1004', 'type': "Devil's Food"}]}, 'topping': [{'id': '5001', 'type': 'None'}, {'id': '5002', 'type': 'Glazed'}, {'id': '5005', 'type': 'Sugar'}, {'id': '5007', 'type': 'Powdered Sugar'}, {'id': '5006', 'type': 'Chocolate with Sprinkles'}, {'id': '5003', 'type': 'Chocolate'}, {'id': '5004', 'type': 'Maple'}]}
<class 'str'>

In [16]:
btr = pd.DataFrame(result['batters']['batter'], columns = ['type'])
print(btr)

           type
0       Regular
1     Chocolate
2     Blueberry
3  Devil's Food

In [20]:
url = '/content/drive/MyDrive/Colab Notebooks/Python/Pandas/examples/example.json'

df = pd.read_json(url)
print(df)
print('--------------------------------------------')
print(df.to_json())     # if file name is not given in to_(*) function then by default it prints on system output.
print('--------------------------------------------')
print(df.to_json(orient='records'))

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9
--------------------------------------------
{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}
--------------------------------------------
[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]