In [1]:
import numpy as np
import pandas as pd
import sys
from datetime import date

from google.colab import drive
drive.mount('/content/drive', force_remount=True)

np.set_printoptions(precision=4)
pd.options.display.max_rows = 10

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Current/Pandas/examples/ex5.csv')
print(df)
df.to_csv('/content/drive/MyDrive/Colab Notebooks/Current/Pandas/examples/test_ex5.csv')  #  sep='@', index = False, header = None / False, na_rep='NULL'

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [ ]:
df.to_csv(sys.stdout,na_rep='NULL', columns=['a','b','c'])   # replace NaN with NULL. only selected columns we want to fetch.

,a,b,c
0,1,2,3.0
1,5,6,NULL
2,9,10,11.0

In [7]:
dt_series = pd.date_range('14/02/2024', periods = 7)
temp = pd.Series(dt_series,np.arange(7))  # range function in python allows only integer. arange function in numpy, it allows floating number also.
print(temp)
temp.to_csv('/content/drive/MyDrive/Colab Notebooks/Current/Pandas/examples/test_ex5.csv', header = False)
temp = pd.Series(np.arange(3),index = ['111','222','333']) # index value must be matched in series function.
print(temp)

0   2024-02-14
1   2024-02-15
2   2024-02-16
3   2024-02-17
4   2024-02-18
5   2024-02-19
6   2024-02-20
dtype: datetime64[ns]
111    0
222    1
333    2
dtype: int64

<ipython-input-7-96c9ccb3aed5>:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  dt_series = pd.date_range('14/02/2024', periods = 7)